<!DOCTYPE html>
<html lang="pt_PT">
<head>
    <link href="css/style.css" rel="stylesheet"/>
    <title>Thesisman Application</title>
</head>

<body>
    <h1 id="tema_submetido">Aluno não tem candidaturas</h1>
    <p>Aluno necesssita de ter pelo menos uma candidatura ativa para ser possível atribuir-lhe um tema</p>
    <form th:action = "@{/dashboard}" method="GET" id="form1">
        <button>voltar atrás</button>
    </form>
    <h2 id="error" th:text="${error}"></h2>
</body>
</html>