<!DOCTYPE html>
<html lang="pt_PT">
<head>
    <link href="css/dashboard.css" rel="stylesheet"/>
    <title>Thesisman Application</title>
</head>

<body>
    <p th:text="'Bem Vindo ' + ${name}"></p>
    <p id="bem-vindo" th:text="'ID:' + ${id}"></p>
    <div class="main">
        <div class="sub-main">
            <form action="#" th:action="@{/submeterTemas}" method="get">
                <button th:href="@{/submeterTemas}" method="GET">Submeter temas</button>
            </form>
            <form action="#" th:action="@{/atribuicaoTema}" method="get">
                <button>Atribuir temas</button>
            </form>
            <form action="#" th:action="@{/marcarDefesaProposta}" method="get">
                <button>Marcar defesa proposta da tese</button>
            </form>
            <form action="#" th:action="@{/registarNotaDefesaProposta}" method="get">
                <button>Registar Nota da Defesa da Proposta</button>
            </form>
            <form action="#" th:action="@{/marcarDefesaFinal}" method="get">
                <button>Marcar Defesa da Tese</button>
            </form>
            <form action="#" th:action="@{/registarNotaDefesaProposta}" method="get">
                <button>Registar Nota Defesa Proposta</button>
            </form>
            <form action="#" th:action="@{/estatisticas}" method="get">
                <button>Ver Estatísticas</button>
            </form>
            </form>
        </div>
      </div>
      <form th:action = "@{/logout}" method="GET" id="form1">
        <button>Logout</button>
    </form>
</body>
</html>