<!DOCTYPE html>
<html lang="pt_PT">
<head>
    <link href="css/style.css" rel="stylesheet"/>
    <title>Thesisman Application</title>
</head>

<body>
    <h1 id="login_header">Login</h1>
    <form th:action = "@{/dashboard}" method="post" id="form1">
        <label for="email">Email</label>
        <input type="text" name="email" id="email"/>
        <label for="password">Passsword</label>
        <input type="text" name="password"/>
        <input type="submit" value="Inicar Sessão"/>
    </form>
    <form th:action="@{/register}" method="get" id="form2">
        <input type="submit" value="Registar"/>
    </form>
    <h2 id="error" th:text="${error}"></h2>
</body>
</html>