<!DOCTYPE html>
<html lang="pt_PT">
<head>
    <link href="css/submeterTemas.css" rel="stylesheet"/>
    <title>Thesisman Application</title>
</head>

<body>
    <!DOCTYPE html>
<html>
<head>
    <title>Marca Defesa Proposta de Tese</title>
</head>
<body>
    <h1>Teses em curso</h1>
    <table>
        <tr>
            <th th:each="candidaturaWithTese: ${c}"></th>
            <th th:text="Tese number: ' + ${c.teseId}"></th>
            <th>Estado</th>
        </tr>
    </table>
</body>
</html>
</body>
</html>