<!DOCTYPE html>
<html lang="pt_PT">
<head>
    <link href="css/submeterTemas.css" rel="stylesheet"/>
    <title>Thesisman Application</title>
</head>

<body>
    <!DOCTYPE html>
<html>
<head>
    <title>Marca Defesa Proposta de Tese</title>
</head>
<body>
    <h1>Marcar Tese</h1>
    <form action="#" th:action="@{/marcarDefesaPropostaCall}" method="post">
        <label>Teses em curso</label>
        <select th:name="teseId">
            <option th:each="entry : ${candidaturasAceites}" th:value="${entry.key.teseId}" th:text="${entry.value.titulo}"></option>
        </select>
        <label for="data">Data:</label>
        <input type="date" id="data" name="data">
        <label for="online">Online:</label>
        <input type="checkbox" id="online" name="online">
        <label for="room">Room:</label>
        <input type="text" id="room" name="room">
        <label for="arguente">Arguente:</label>
        <select th:name="arguente" id="arguente">
            <option th:each="docente : ${docentes}" th:value="${docente.id}" th:text="${docente.nome}"></option>
        <input type="submit" value="Submit">
    </form>
    <form th:action = "@{/dashboard}" method="GET" id="form1">
        <button>voltar ao dashboard</button>
    </form>
</body>
</html>
</body>
</html>