<!DOCTYPE html>
<html lang="pt_PT">
<head>
    <link href="css/submeterTemas.css" rel="stylesheet"/>
    <title>Thesisman Application</title>
</head>

<body>
    <!DOCTYPE html>
<html>
<head>
    <title>Theme Submission</title>
</head>
<body>
    <h1>Theme Submission</h1>
    <div style="display: flex;">
        <form th:action = "@{/submitTemaCall}" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description"></textarea><br>
            <label for="compensation">Monthly Compensation:</label><br>
            <input type="number" id="compensation" name="compensation" step="0.01" min="0"><br>
            <label for="masters">Compatible Masters:</label><br>
            <select id="masters" name="masters" multiple>
                <option th:each="mestrado : ${mestrados}" th:value="${mestrado}" th:text="${mestrado}"></option>
            </select><br>
            <input type="submit" value="Submit">
        </form>
        <p style="margin-left: 20px;">
            To select multiple Masters, hold down the Control (on Windows) or Command (on Mac) key and click on the options.
        </p>
    </div>
    <form th:action = "@{/dashboard}" method="GET" id="form1">
        <button>voltar atrás</button>
    </form>
</body>
</html>
</body>
</html>